{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "semi": "warn",
    "indent": "off",
    "no-extra-semi": "warn",
    "no-unused-vars": "off",
    "eol-last": "warn"
  }
}